// .login {
// }
.content {
  position: relative;
  height: calc(100vh - 69px);
  overflow: hidden;
}
.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 260px;
  padding: 20px 15px;
  top: calc(50% - 140px);
  left: calc(50% - 130px);
  background-color: #fff;
  border-radius: 5px;
}
.footer {
  text-align: center;
  color: #bbb;
}
